<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name, '*First Name' %>
  <%= f.text_field :first_name, :class => 'test' %>

  <%= f.label :last_name, '*Last Name' %>
  <%= f.text_field :last_name %>

  <%= f.label :username, '*Username (At least 2 characters)' %>
  <%= f.text_field :username %>

  <%= f.label :password, '*Password (2-20 characters)' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, '*Confirm Password' %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit submit_label %>

<% end %>
