<h1 class="username"><%= @user.username %></h1>

<section id="userImages">
  <% @albums.each do |album| %>
    <% album.images.each do |image| %>
      <div class="image hover-image">
        <%= render "images/image_info", :image => image %>
        <% if current_user %>
          <% if current_user.id == @album.user_id %>
            <% @imageId = image.id %>
            <p><%= link_to 'Edit', edit_image_path(image.id) %><!-- <a class="edit-button" data-image-id="<%= image.id %>">Edit</a> --> | <%= link_to 'Delete', image_path(:id => image.id), method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %></p>
          <% end %>
        <% end %>
      </div> <!-- end image div -->
    <% end %>
  <% end %> <!-- end albums loop -->
</section>

<section id="userAlbums">
  <h2>Albums</h2>
  <% @albums.each do |album| %>
    <div>
      <%= link_to album.title, album_path(:id => album.id) %>
    </div>
  <% end %>
</section>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Add Album', new_user_album_path(@user), class: "add-button" %>
  <% end %>
<% end %>

<section id="userFavorites">
  <h2>Favorites</h2>
  <% @user.favorites.each do |image| %>
    <div class="image hover-image">
      <%= render "images/image_info", :image => image %>
      <% if current_user %>
        <% if current_user.id == @album.user_id %>
          <% @imageId = image.id %>
          <p><%= link_to 'Edit', edit_image_path(image.id) %><!-- <a class="edit-button" data-image-id="<%= image.id %>">Edit</a> --> | <%= link_to 'Delete', image_path(:id => image.id), method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %></p>
        <% end %>
      <% end %>
    </div> <!-- end image div -->
  <% end %> <!-- end favorites loop -->
</section>


