<h1><%= @user.username %></h1>

<div id="userAlbums">
  <h2>Albums</h2>
  <% @albums.each do |album| %>
    <div>
      <%= link_to album.title, album_path(:id => album.id) %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Add Album', new_user_album_path(@user), class: "add-button" %>
    <!-- <a class="add-button">Add Album</a> -->
  <% end %>
<% end %>

<div class="add modal hide">
  <div class="content">
    <div class="close"></div>
    <%= form_for [@user, @album] do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <%= f.submit 'Add Album' %>

      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="userFavorites">
  <h2>Favorites</h2>
  <% @user.favorites.each do |favorite| %>
    <div class="image">
      <% @favoriteimage = Image.find(favorite.id) %>
      <div class="image-display" style="background-image: url(<%= @favoriteimage.url %>)"></div>
      <div class="image-info hide">
        <h3><%= @favoriteimage.title %></h3>
        <p class="image-description"><%= @favoriteimage.description %></p>
        <p class="image-date"><%= @favoriteimage.created_at.strftime("%B %d, %Y") %></p>
        <span class="image-username hide"><%= @favoriteimage.album.user.username %></span>
        <span class="image-user-path hide">By: <%= link_to @favoriteimage.album.user.username, user_path(@favoriteimage.album.user.id) %></span>
        <span class="image-url hide"><%= @favoriteimage.url %></span>
      </div>
    </div>
  <% end %>
</div>

<div id="allUserImages">
  <h2>All Images</h2>
  <% @albums.each do |album| %>
    <% album.images.each do |image| %>
      <div class="image">
        <div class="image-display" style="background-image: url(<%= image.url %>)"></div>
            <% if current_user %>
              <% @favorite = false %> <!-- reset favorite variable -->
              <% current_user.favorites.each do |favorite| %>
                <% if favorite.id == image.id then @favorite = true %> <!-- check if image is in user's favorites -->
                <% end %>
              <% end %>
              <% if @favorite %> <!-- display remove or add favorite button depending if user has favorited image or not -->
                <div class="favorite-icon"></div>
              <% end %>
            <% end %>
          <div class="image-info hide">
            <h3><%= image.title %></h3>
            <p class="image-description"><%= image.description %></p>
            <p class="image-date"><%= image.created_at.strftime("%B %d, %Y") %></p>
            <span class="image-username hide"><%= image.album.user.username %></span>
            <span class="image-user-path hide">By: <%= link_to image.album.user.username, user_path(image.album.user.id) %></span>
            <span class="image-url hide"><%= image.url %></span>
          </div>
      </div>
    <% end %>
  <% end %>
</div>


