<h1><%= @user.username %></h1>

<% @albums.each do |album| %>
  <div>
    <%= link_to album.title, album_path(:id => album.id) %>
  </div>
<% end %>

<a class="add-button">Add Album</a>
<div class="add modal hide">
  <div class="content">
    <div class="close"></div>
    <%= form_for [@user, @album] do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <%= f.submit 'Add Album' %>
  <% end %>
  </div>
</div>

