<section class="container">
  <h1 class="username"><%= @user.username %>.</h1>

  <section id="userImages" class="flex-container">
    <% @albums.each do |album| %>
      <% album.images.each do |image| %>

          <%= render "images/image_info", :image => image, :@album => image.album %>

      <% end %>
    <% end %> <!-- end albums loop -->
  </section>

  <section id="userAlbums flex-container">
    <h2>albums.</h2>
    <% if current_user %>
      <% if current_user.id == @user.id %>
        <%= link_to 'Add Album', new_user_album_path(@user), class: "add-button" %>
      <% end %>
    <% end %>
    <% @albums.each do |album| %>
        <%= link_to album.title, album_path(:id => album.id), class: 'flex-item album' %>
    <% end %>
  </section>

  <section id="userFavorites flex-container">
    <h2>favorites.</h2>
    <% @user.favorites.each do |image| %>
        <%= render "images/image_info", :image => image, :@album => image.album %>
    <% end %> <!-- end favorites loop -->
  </section>
</section>


