<div class="container">
  <h1><%= @album.title %></h1>
  <p><%= @album.description %></p>
  <p>By: <%= link_to @album.user.username, user_path(@album.user_id) %></p>

  <div class="flex-container">
    <% @images.sort { |a,b| b.updated_at <=> a.updated_at }.each do |image| %>
      <div class="image hover-image flex-item">
        <%= render "images/image_info", :@album => @album, :image => image %>
      </div>
  <% end %>
  </div>

  <% if current_user %> <!-- add actions if user is album owner -->
    <% if current_user.id == @album.user_id %>
      <div class="album-owner-actions">
        <%= link_to 'Add Image', new_album_image_path(@album), class: 'add-button' %>
        <%= link_to 'Edit Album', edit_album_path(@album), class: 'edit-button' %>
        <%= link_to 'Delete Album', album_path(@album), class: 'delete-button', method: :delete, data: { confirm: 'Are you sure you want to remove this album?' } %>
      </div>
    <% end %>
  <% end %>
</div>
