<h1><%= @album.title %></h1>

<% @images.each do |image| %>
  <div>
    <h2><%= image.title %></h2>
    <p><%= image.description %>, <%= image.url %></p>
    <p><%= link_to 'Edit', edit_user_album_image_path(:album_id => @album.id, :id => image.id) %> | <%= link_to 'Delete', user_album_image_path(:album_id => @album.id, :id => image.id), method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %></p>
  </div>
<% end %>

<!-- add condition if user is current_user, allow edit -->
<%= link_to 'Edit Album', edit_user_album_path(:id => @album.id) %>
<br />
<%= link_to 'Add Image', new_user_album_image_path(:album_id => @album.id) %>
<br />
<%= link_to 'Back to Profile', user_path(@user) %>
