<%= form_for [@user, @album, @image] do |f| %>
    <div>
      <%= f.label :url, 'Image URL' %>
      <%= f.text_field :url %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit submit_label %>
<% end %>
