<div class="edit container">
  <h1>Edit Image</h1>
  <%= form_for @image do |f| %>
      <%= f.label :url, 'Choose a File...', class: 'image-upload' %>
      <%= f.file_field :url %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit 'Update' %>
  <% end %>
  <%= link_to 'Back to Album', album_path(@image.album_id) %>
</div>

