<section id="mainImages">
  <% @images.sort { |a,b| b.updated_at <=> a.updated_at }.each do |image| %>
    <div class="image">
      <% if current_user %>
        <% if current_user.is_admin %>
          <%= link_to 'Delete', admin_destroy_path(image), class: 'admin-delete-image', method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>
        <% end %>
      <% end %>
      <div class="image-display" style="background-image: url(<%= image.url %>)">
      </div>
      <div class="image-info hide">
        <h3><%= image.title %></h3>
        <p class="image-description"><%= image.description %></p>
        <p class="image-date"><%= image.created_at.strftime("%B %d, %Y") %></p>
        <span class="image-username hide"><%= image.album.user.username %></span>
        <span class="image-user-path hide">By: <%= link_to image.album.user.username, user_path(image.album.user.id) %></span>
        <span class="image-url hide"><%= image.url %></span>
        <% if current_user %>
          <% @favorite = false %> <!-- reset favorite variable -->
          <% current_user.favorites.each do |favorite| %>
            <% if favorite.id == image.id then @favorite = true %> <!-- check if image is in user's favorites -->
            <% end %>
          <% end %>

          <% if @favorite %> <!-- display remove or add favorite button depending if user has favorited image or not -->
              <span class="remove-favorite-button"><%= link_to 'Remove Favorite', user_remove_favorite_path(current_user, image), method: :delete %></span>
          <% else %>
            <span class="add-favorite-button"><%= link_to 'Favorite', user_add_favorite_path(current_user, image), method: :put %></span>
          <% end %>
        <% end %>
      </div>
      <!-- <div class="modal hide">
        <div class="content">
          <div class="close"></div>
          <h4><%= image.title %></h4>
          <p>By: <%= link_to image.album.user.username, user_path(image.album.user.id) %></p>
          <img src="<%= image.url %>" alt="<%= image.title %>">
          <p><%= image.description %></p>
        </div>
      </div> -->
    </div>
  <% end %>
</section>



