<h1>All Images</h1>

<section id="mainImages">
  <% @images.sort { |a,b| b.updated_at <=> a.updated_at }.each do |image| %>
    <div class="image">
      <% if current_user %>
        <% if current_user.is_admin %>
          <%= link_to 'Delete', admin_destroy_path(:id => image.id), class: 'admin-delete-image', method: :delete, data: { confirm: 'Are you sure you want to delete this image?' }, remote: true %>
        <% end %>
      <% end %>
      <div class="image-display" style="background-image: url(<%= image.url %>)">
      </div>
      <div class="image-info hide">
        <h3><%= image.title %></h3>
        <p><%= image.description %></p>
      </div>
      <div class="modal hide">
        <div class="content">
          <div class="close"></div>
          <h4><%= image.title %></h4>
          <p>By: <%= link_to image.album.user.username, root_path %></p>
          <img src="<%= image.url %>" alt="<%= image.title %>">
          <p><%= image.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</section>

