<h1>Add Image</h1>

<%= form_for [@album, @image], html: { multipart: true } do |f| %>
    <div>
      <%= f.label :url_file_name, 'Image URL' %>
      <%= form.file_field :url_file_name %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit 'Submit' %>
<% end %>

