<div class="add container">
  <h1>Add Image to <%= @album.title %> Album</h1>
  <%= form_for [@album, @image], html: { multipart: true } do |f| %>
    <%= f.label :url, 'Choose a file...', class: 'image-upload' %>
    <%= f.file_field :url %>

    <%= f.label :title, '*Title' %>
    <%= f.text_field :title %>

    <%= f.label :description, '*Description (Max 100 characters)' %>
    <%= f.text_area :description %>

    <%= f.submit 'Submit' %>
  <% end %>
  <%= link_to 'Back to Album', album_path(@album), class: "back" %>
</div>


