<h1>Add Image</h1>

<%= form_for [@album, @image], html: { multipart: true } do |f| %>
    <div>
      <%= f.label :url, 'Image URL' %>
      <%= f.file_field :url %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit 'Submit' %>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>

