<h1>Add Image to <%= @album.title %> Album</h1>

<%= form_for [@album, @image], html: { multipart: true } do |f| %>
    <div>
      <%= f.label :url, 'Image URL' %>
      <%= f.file_field :url %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit 'Submit' %>
<% end %>

<%= link_to 'Back to Album', album_path(@album) %>

