<!DOCTYPE html>
<html>
<head>
  <title>PugLifeApp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <% if current_user %>
    Welcome, <%= current_user.first_name %> | <%= link_to 'Home', root_path %> | <%= link_to 'Profile', user_path(:id => current_user.id) %> |
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %> |
    <%= link_to 'Sign Up', new_user_path %>

  <% end %>
</p>
<%= yield %>

</body>
</html>
